.container {
    padding: 20px;
  }
  
.buttonParticipants {
  background-color: #8bc34a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 7%;
  cursor: pointer;
}
.item{
  font-size: 48px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
  
.title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 32px;
  color: #22325a;
}
.cabinet {
  color: #8bc34a;
}
.organization {
  color: #e6f36a;
  text-shadow: 0 1px 2px #22325a22;
}

.contentArea {
  display: flex;
  gap: 20px;
}
  
  .personalInfoSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .infoRow {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .infoRow label {
    font-weight: bold;
    width: 150px;
  }
  
  .infoRow input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .saveButton,
  .changePasswordButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .saveButton {
    background-color: #8bc34a;
    color: white;
  }
  
  .changePasswordButton {
    background-color: #cddc39;
    color: white;
  }
  
  .rightSection {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .profileImageContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eee;
  }
  
  .placeholderImage {
     width: 100%;
     height: 100%;
     background-color: #ccc;
  }
  
  .statisticsBlock {
    background-color: #8bc34a;
    color: white;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
  }
  
  .statisticsBlock h4 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .awardsBlock {
    width: 100%;
  }
  
  .awardsBlock h4 {
      text-align: center;
       margin-bottom: 10px;
  }
  
  .awardsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
  }
  
.placeholderAward {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: #0d47a1;
    border-radius: 50%;
}

.placeholderAward img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }