.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 24px;
  }
  .title {
    font-size: 28px;
  }
  .text {
    font-size: 16px;
  }
  .partners {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
  .partners img {
    width: 30%;
    height: 30%;
  }
}

.partnersText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  color: #153D61;
}

.text {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  color: #676767;
}

.partners {
  width: 300px;
}

.partners img {
  padding: 5px;
}