.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5% 0;
  gap: 10%;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 32px;
    margin: 32px 0;
  }
  .infoContainer {
    width: 80%;
  }
  .title {
    font-size: 32px;
  }

  .container img {
    width: 80%;
  }
}

.infoContainer {
  width: 30%;
}

.text {
  text-align: left;
}

.title {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  color: #153D61;
}
